* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  color: white;
  display: flex;
  flex-direction: row;
}

.left {
  width: 40%;
  height: 100vh;
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left > h1 {
  font-size: 3em;
  padding: 20px;
  color: black;
}

.left input {
    margin: 20px;
    width: 90%;
    height: 50px;
    font-size: 1.5em;
    padding: 5px;
}

.right {
    overflow-y:scroll;
  height: 100vh;
  width: 60%;
  background-color: purple;
  

}

.task {
    border:1px solid darkgreen;
    padding: 10px 20px 10px 40px;
    background-color: yellowgreen;
    font-size: 2em;
    display: flex;
    color: black;
    justify-content: space-between;
}
.task .deleteBtn{
    font-size: 1em;



}

.task .deleteBtn:hover{
    font-size: 1em;
    color: red;
    font-weight: bold;
    cursor: pointer;
       


}